__pycache__
/mapping_babi/
/mapping_wiki/
/checkpoints/
/tensorboard/
/mamba/
# /transformers_ssm_copy/tensorboard/

/transformer-xl/data/
/transformer-xl/one-billion-words/
/transformer-xl/penn/
/transformer-xl/pennchar/
/transformer-xl/text8/
/transformer-xl/simple-examples.tgz

/transformer-xl/pytorch/tensorboard/
/transformer-xl/pytorch/LM-TFM-enwik8/
/transformer-xl/pytorch/workdir/

/transformers_ssm_copy/custom_output_dir/
/transformers_ssm_copy/output_dir/